@mixin absCentre{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


$screen-sizes : (
    "tab": 900px,
    "mobile": 700px,
    "mini": 480px
);

@mixin respond($size){
    @media (max-width : map-get($screen-sizes, $size)){@content}
}